*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 100%;
    font-family: sans-serif;
    height: 100vh;
    justify-content: center;
}
.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    width: 400px;
    height: 400px;

}
.box{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    font-size: 100px;
    border-radius: 3px;
}
.game{
    display: grid;
    height: 500px;
    width: 100%;
    grid-template-rows: 0.5fr 4.5fr;
    justify-content: center;
    gap: 10px;
    padding-top: 70px;
}
.reset{
    width: 70px;
    justify-self: center;
    height: 45px;
    border-radius: 3px;
}
#info{
    font-size: 35px;
    padding: 0px 0px 50px 100px;
}
.names{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    padding-top: 20px;
}
.names input{
    font-size: 20px;
    margin-top: 15px;
}
#playT{
    margin-top: 10px;
}
.names button{
    margin-top: 35px;
    height: 20px;
}